{% extends "app_blog/base.html" %}

{% block contenido_base %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1>Integrantes:</h1>
            <ul>
                <li>Bocchieri Matias</li>
                <li>Lorenzatti Matias</li>
            </ul>
            <br>
            <br>
            <div>

            <div class="about-coder">

                <div>
                    <h3>Bocchieri Matias</h3> <img width="400px" height="400px" src="/media/about/Matias Bocchieri.jpeg">
                    <p>Hola, Soy Matias Bocchieri, soy del partido de Lanús dentro de la provincia de Buenos Aires tengo, me apodan bocha y tengo 25 años. Estaba interesado en la programación así que decidí comenzar mi primer curso con python ya que me parece muy interesante y entretenido. Mi idea es desarrollar mi aprendizaje en este rubro para poder dedicarme profesionalmente a esto o cualquier otra rama de la programación que me interese. 
                        Actualmente estoy trabajando en una droguería como preparador de pedidos a farmacias y otras droguerías.
                        En mi tiempo libre me gusta jugar torneos de padel y futbol.
                        Verdaderamente este fue un curso increíble en el cual aprendí muchas cosas que no sabia que iba a aprender jamás. A terminar este curso y seguir con otros para seguir aprendiendo mas ya que este mundo me parece buenísimo!!. <a href="https://www.linkedin.com/in/matias-bocchieri-76497315b"><b>Linkedin</b></a></p>
                </div>
                
            
                <div>
                    <h3>Lorenzatti Matias</h3> <img width="400px" height="400px" src="/media/about/Matias Lorenzatti.jpeg">
                    <p>¡Hola a todos! Mi nombre es Matias Lorenzatti, tengo 23 años y soy de Cordoba-Argentina, comencé a estudiar programación en el año 2021 (SQL + Python + Data Analytics). Estoy muy contento de presentar mi primera pagina web hecha con Django. Espero que sea el primero de muchos proyectos IT. Cualquier consulta pueden contactarme en mi perfil de <a href="https://www.linkedin.com/in/matias-lorenzatti/"><b>Linkedin</b></a>.</p>
                </div>

            </div>
            

        </div>
    </div>
</div>



{% endblock contenido_base %}
        