{% extends "app_blog/base.html" %}

{% block contenido_base %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1>Integrante:</h1>
            <ul>
                <li>Lorenzatti Matias</li>
            </ul>
            <br>
            <br>
            <div>

            <div class="about-coder">
                
            
                <div>
                    <h3>Lorenzatti Matias</h3> <img width="400px" height="400px" src="/media/about/Matias Lorenzatti.jpeg">
                    <p>¡Hola a todos! Mi nombre es Matias Lorenzatti, tengo 23 años y soy de Cordoba-Argentina, comencé a estudiar programación en el año 2021 (SQL + Python + Data Analytics). Estoy muy contento de presentar mi primera pagina web hecha con Django. Espero que sea el primero de muchos proyectos IT. Cualquier consulta pueden contactarme en mi perfil de <a href="https://www.linkedin.com/in/matias-lorenzatti/"><b>Linkedin</b></a>.</p>
                </div>

            </div>
            

        </div>
    </div>
</div>



{% endblock contenido_base %}
        